{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Моё резюме{% endblock %}</title>
    {% block head_css %}
      {% tailwind_css %}
    {% endblock %}
</head>
<body class="bg-gray-50 text-black font-serif leading-normal tracking-normal">

  <div class="container mx-auto">
    {% block content %}
    {% endblock %}
  </div>

  {% block footer_js %}
    {# если у вас будут скрипты tailwind_js или другие #}
  {% endblock %}
</body>
</html>
